@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-image: url("imagenes/matrix-code.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "Roboto Condensed";
    margin: 0;
    min-height: 100vh;
}
.page-layout {
    min-height: 100vh;
    padding: 0;
}
.circulo-negro{
    background: radial-gradient(circle, #000 50%, transparent);
    backdrop-filter: blur(2px);
}
.sidebar {
    position: fixed;
    top: 60%;
    left: 2rem;
    transform: translateY(-45%);
    width: 70px;
    height: auto;
    padding: 1.5rem 0;
    background: linear-gradient(to bottom, #4fff51, #99ff99c6);
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-content {
    padding: 0;
    width: 100%;
}
.sidebar .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar .nav-item{
    width: 2rem;
    height: auto;
    text-align: center;
}
.sidebar .nav-item a {
    display: block;
    width: 100%;
    border-radius: 4rem;
    overflow:hidden;
    transition: background-color 0.2s ease;
}
.sidebar .nav-item a:hover {
    background-color: #52864d;
}
.main-content {
    margin-left: 0;
    padding: 0;
}
h1{
  color: #98ff8f;
  -webkit-text-stroke: 0.025rem #60785e;
  text-align: center;
  margin: 0;
  padding: 2.5rem;
  text-shadow: 0 0 5px #98ff8f, 0 0 10px #98ff8f, 0 0 15px #98ff8f, 0 0 20px #98ff8f, 0 0 25px #98ff8f;
}
h2{
    color:#b8ffb0
}
h3{
    color:#ceffc7
}
p{
    color:#d9f3d6
}